* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  margin: 0;
}

aside {
  background-color: rgb(0, 0, 64);
  color: white;
  display: flex;
  flex: 1 0 auto;
  width: 300px;
  transition: 600ms;
  overflow: hidden;
  padding: 0;
}

main {
  padding: 4rem;
}

.icon {
  width: 100%;
  height: auto;
  padding: 8px;
}

.sidebar {
  flex: 0 0 50px;
}

.menu {
  flex: 0 0 auto;
  width: 250px;
}

.menu ul {
  list-style-type: none;
  padding-left: 0;
  margin: 2rem;
}

.menu li {
  margin-bottom: 1rem;
}

.closed {
  width: 50px;
}
