* {
  box-sizing: border-box;
}

body {
  background-color: #444;
  font-family: sans-serif;
  padding: 1rem;
}

h1 {
  text-align: center;
  color: white;
  font-size: 1.4rem;
}

.calculator {
  background-color: white;
  width: 20rem;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0px 0px 20px black;
}

.controls {
  padding: 1.5rem;
}

label, input[type="text"] {
  display: block;
  width: 100%;
  font-weight: bold;
}

label {
  margin-bottom: 0.5rem;
  color: #505050;
}

input[type="text"] {
  border: none;
  border-bottom: 2px solid #505050;
  margin-bottom: 1rem;
  text-align: right;
  font-size: 110%;
}

.student-label {
  font-weight: bold;
  color: #505050;
  margin-right: 2rem;
}

input[type="radio"] {
  width: 1rem;
  height: 1rem;
  vertical-align: bottom;
}

button {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  font-weight: bold;
  font-size: 120%;
  background-color: #5353ff;
  border: none;
  color: white;
  text-align: center;
  cursor: pointer;
  transition: 400ms;
}

button:hover {
  background-color: red;
  transition: 400ms;
}

.result {
  font-size: 200%;
  text-align: center;
  padding: 2rem;
}