body {
  font-family: Trebuchet MS, sans-serif;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.5;
  background-color: grey;
  color: white;
  -webkit-transition: all 2725ms ease-in-out;
  transition: all 2725ms ease-in-out;

}

h1 {
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 1rem;

}

p {
  margin-bottom: 2rem;
  color: #d6d6d6;
}

p a {
  color: white;
}

h2 {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 1rem;
  color: dodgerblue;
  background-color: white;
  width: 100vw;
}

.center {

  margin-left: auto;
  margin-right: auto;
  width: 15%;

}


button {
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 4px;
  font-size: 1.25rem;
  padding: 0.75rem 1rem;
  border: 1px solid white;
  background-color: dodgerblue;
  color: white;
}
