* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: lightgrey;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.post {
  background-color: white;
  padding: 3rem; 
}